
// Body
$body-bg: #f5f8fa;

// Typography
$raleway: "Raleway", sans-serif;
$playfair-display: "Playfair Display", sans-serif;
$open-sans: 'Open Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$lobster: 'Lobster Two', cursive;

$maroon: #982121;
$orange: #ff611d;
$red: #e32929;
$yellow: #ffb80e;
$brown: #813531;
$black: #231f20;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
